* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
}

window#waybar {
    background: transparent;
}

.modules-left, .modules-center, .modules-right {
    background: #11111b;
    border: 2px solid #1e1e2e;
    border-radius: 12px;
    padding: 2px 10px;
    color: #cdd6f4;
}

#taskbar {
    padding: 0 5px;
}

#taskbar button {
    padding: 0 5px;
    margin: 2px 0;
    border-radius: 8px;
    transition: all 0.3s ease;
}

#taskbar button.active {
    background-color: rgba(137, 180, 250, 0.2);
    border-bottom: 2px solid #89b4fa;
}

#taskbar button:hover {
    background-color: rgba(205, 214, 244, 0.1);
}

#workspaces button {
    padding: 0 5px;
    color: #89b4fa;
}

#workspaces button.active {
    color: #b4befe;
}

#window {
    font-size: 13px;
}

#network, #pulseaudio, #backlight, #battery, #clock, #custom-notification, #custom-power {
    padding: 0 6px;
}

#clock {
    margin-left: 10px;
}

#cpu {
    color: #f9e2af;
}

#temperature {
    color: #fab387;
}

#temperature.critical {
    color: #f38ba8;
}

#mpris {
    color: #a6e3a1;
    margin-left: 10px;
}

#custom-power {
    color: #f38ba8;
    padding-right: 5px;
    font-size: 18px;
}

#pulseaudio { color: #89b4fa; }
#backlight { color: #89dceb; }
#battery { color: #a6e3a1; }
