* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
}

window#waybar {
    background: transparent;
}

.modules-left, .modules-center, .modules-right {
    background: rgba(17, 17, 27, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 2px 12px;
}

#cpu, #memory, #language, #pulseaudio, #network, #clock, #mpris {
    margin: 0 8px;
}

#custom-power {
    color: #f38ba8;
    font-size: 18px;
    margin-left: 10px;
    padding-right: 2px;
}

#workspaces button.active {
    background: rgba(137, 180, 250, 0.1);
    border-radius: 8px;
}

#window {
    font-weight: normal;
}
